{% load static tailwind_tags %}
<head>
   {% tailwind_css %}
</head>

{% if messages %}
<!-- Mensajes de éxito o error -->
<div class="mt-3 space-y-2">
  {% for message in messages %}
    <div class="
      px-4 py-2 rounded-lg text-sm font-medium 
      {% if message.tags == 'success' %}
        bg-green-100 text-green-700 border border-green-300
      {% elif message.tags == 'error' %}
        bg-red-100 text-red-700 border border-red-300
      {% elif message.tags == 'warning' %}
        bg-yellow-100 text-yellow-800 border border-yellow-300
      {% else %}
        bg-gray-100 text-gray-700 border border-gray-300
      {% endif %}
    ">
      {{ message }}
    </div>
  {% endfor %}
</div>
{% endif %}

<!--  Contenedor del formulario y botón de descarga -->
<div class="flex flex-col items-center gap-4 py-6
     relative min-w-[250px] text-white">
  
  <!-- Formulario de importación de proyecto -->
  <form method="post" enctype="multipart/form-data" 
    class="space-y-4 p-6 border border-black rounded-xl bg-gray-800 text-white" >
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" 
              class="w-full bg-green-600 hover:bg-green-700 
                     text-white font-semibold py-4 px-4 
                     rounded-lg shadow transition">
          Crear Proyecto
      </button>
  </form>

  <!-- Enlace para descargar la plantilla de Gantt -->
  <a href="{% url 'descargar_plantilla' %}" 
     class="block text-center bg-blue-600 hover:bg-blue-700 
            text-white font-semibold py-2 px-4 
            rounded-lg shadow transition">
      Descargar plantilla Gantt
  </a>
</div>
